$background-color-base: #fff;
$font-family-base: 'Avenir Next', 'Roboto', sans-serif;
$font-size-base: 16px;
$color-main: #553c9a;
$color-icon: #fff;
$color-lighter: #7e76c0;
$color-darker: #44337a;

$color-h1: $color-main;
$font-weight-h1: 600;

$color-h2: #7e76c0;

$color-album-title: $color-main;
$color-album-artist: #805ad5;
